/* Сброс стилей для всех элементов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стиль страницы */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.resume {
  display: flex;
  width: 210mm; /* ширина A4 */
  background-color: white;
  padding: 17mm;
  border: none;
}

/* Левая панель */
.left-panel {
  width: 33%;
  padding-right: 20px;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
}
.left-panel h3, {
  font-size: 1.3rem;
  margin-top: 10px;
}

/* Правая панель */
.right-panel {
  width: 67%;
  padding-left: 20px;
}

/* Фото */
.photo {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 10px;
}
.photo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  max-width: 150px;
  margin-bottom: 10px;
}

/* Контактная информация */
.contact-info h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.contact-info p {
  font-size: 0.8rem;
  color: grey;
  margin-bottom: 5px;
}

/* Блок с проектами */
.projects h3 {
  font-size: 1.3rem;
  margin-top: 25px;
  margin-bottom: 15px;
}
.project-btn {
  background-color: #fff;
  color: #333; 
  padding: 12px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px; 
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 13px; 
  text-align: left; /* Выравнивание текста по левому краю */
  transition: all 0.3s ease; /* Плавный переход для эффектов */
}

.project-btn:hover {
  background-color: #fff; /* Светлый фон при наведении */
  border-color: #ccc; /* Более темная граница */
  color: darkblue; /* Цвет текста изменяется на синий */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень при наведении */
}

.project-btn span {
  margin-left: 10px; /* Отправить стрелку вправо */
  margin-bottom: auto;
  transition: transform 0.3s ease; /* Плавная анимация стрелки */
}

.project-btn:hover span {
  transform: translateX(5px); /* Стрелка немного двигается при наведении */
}


/* QR-код для печати */

.qr-print {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
}
.qr-print img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

/* Стили для заголовков и текста в правой панели */
.right-panel h1, {
  font-size: 1.8rem;
  margin-bottom: 25px;
}
.right-panel h3, {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.right-panel h4, {
  font-size: 0.8rem;
}
.right-panel p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

/* Стиль для переключателя языка */
.lang-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1rem;
}

/* Стиль для панели \"Назад к резюме\" */
.back-bar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}


/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .resume {
    flex-direction: column;
    width: 100%;
    padding: 10mm;
  }

  .left-panel, .right-panel {
    width: 100%;
    padding: 0;
  }

  .photo img {
    max-width: 100px;
  }
}
/* Плавная анимация появления и исчезновения кейсов */
.fade-out {
  opacity: 0;
  transition: opacity 0.15s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

ul.skill-list-small {
  list-style: none;
  padding-left: 1.5em;
  margin-bottom: 1em;
}

.skill-list-small li {
  list-style-type: none;
  font-size: 0.85em;
  margin-bottom: 0.4em;
  position: relative;
  padding-left: 0.5em;
}

.skill-list-small li::before {
  content: "◦";
  color: #444;
  font-size: 0.6em;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

a {
  color: darkblue; 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline;
}

