/* Сброс стилей для всех элементов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стиль страницы */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.resume {
  display: flex;
  width: 210mm; /* ширина A4 */
  background-color: white;
  padding: 17mm;
  border: none;
}

/* Левая панель */
.left-panel {
  width: 33%;
  padding-right: 20px;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
}
.left-panel h3, {
  font-size: 1.3rem;
  margin-top: 10px;
}

/* Правая панель */
.right-panel {
  width: 67%;
  padding-left: 20px;
}

/* Фото */
.photo {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 10px;
}
.photo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  max-width: 150px;
  margin-bottom: 10px;
}

/* Контактная информация */
.contact-info h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.contact-info p {
  font-size: 0.8rem;
  color: grey;
  margin-bottom: 5px;
}

/* Блок с проектами */
.projects h3 {
  font-size: 1.3rem;
  margin-top: 25px;
  margin-bottom: 15px;
}

.project-btn {
  position: relative;
  background-color: #fff;
  color: #333;
  padding: 12px 40px 12px 20px; /* добавлен правый padding для стрелки */
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 13px;
  text-align: left;
  transition: all 0.3s ease;
}

.project-btn::after {
  content: '❯';
  position: absolute;
  right: 20px; /* позиция стрелки */
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  color: inherit; /* чтобы стрелка была того же цвета, что и текст */
}

.project-btn:hover {
  background-color: #fff;
  border-color: #ccc;
  color: darkblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.project-btn.back-mode::after {
  content: '❮'; /* стрелка влево для "Назад к резюме" */
}

.project-btn:hover::after {
  transform: translateY(-50%) translateX(5px); /* анимация стрелки */
}


/* QR-код для печати */

.qr-print {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
}
.qr-print img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

/* Стили для заголовков и текста в правой панели */
.right-panel h1 {
  font-size: 1.8rem;
  margin-bottom: 25px;
}
.right-panel h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.right-panel h4 {
  font-size: 0.8rem;
}
.right-panel p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

/* Стиль для переключателя языка */
.lang-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1rem;
}

/* Стиль для панели \"Назад к резюме\" */
.back-bar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}


/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .resume {
    flex-direction: column;
    width: 100%;
    padding: 10mm;
  }

  .left-panel, .right-panel {
    width: 100%;
    padding: 0;
    border-right: none;
  }

  .photo img {
    max-width: 100px;
  }
}
/* Плавная анимация появления и исчезновения кейсов */
.fade-out {
  opacity: 0;
  transition: opacity 0.15s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

ul.skill-list-small {
  list-style: none;
  padding-left: 1.5em;
  margin-bottom: 1em;
}

.skill-list-small li {
  list-style-type: none;
  font-size: 0.85em;
  margin-bottom: 0.4em;
  position: relative;
  padding-left: 0.5em;
}

.skill-list-small li::before {
  content: "◦";
  color: #444;
  font-size: 0.6em;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

a {
  color: darkblue; 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline;
}

.gallery img {
  width: 150px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal img {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  object-fit: contain;
  
}
.big-zoom-img {
  width: 300% !important ; 
  height: auto !important;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.scroll-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  color: #333;
  z-index: 2;
  transition: color 0.2s;
}

.scroll-btn:hover {
  color: #000;
}

.scroll-btn.left {
  margin-right: 5px;
}

.scroll-btn.right {
  margin-left: 5px;
}

.slide-gallery {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
}

.slide-gallery::-webkit-scrollbar {
  height: 8px;
}

.slide-gallery::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}

.zoomable-slide {
  width: 200px;
  height: auto;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 8px;
  cursor: zoom-in;
  transition: transform 0.2s ease;
}

.zoomable-slide:hover {
  transform: scale(1.05);
}

.zoomable-img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 8px;
  cursor: zoom-in;
  transition: transform 0.2s ease;
}

.zoomable-img:hover {
  transform: scale(1.05);
}
.report-content {
  display: none;
  margin-top: 10px;
  padding: 10px;
}

.report-content.expanded {
  display: block !important;
}

.toggle-report {
  background-color: #fff;
  color: #333; 
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px; 
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 13px; 
  transition: background-color 0.2s; 
}

.toggle-report:hover {
  background-color: #fff; /* Светлый фон при наведении */
  border-color: #ccc; /* Более темная граница */
  color: darkblue; /* Цвет текста изменяется на синий */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toggle-report .arrow {
  float: right;
  transition: transform 0.3s;
}


.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  transform: rotate(90deg); /* вниз */
}
.toggle-report.expanded .arrow {
  transform: rotate(270deg); /* вверх */
}

th.rotate {
  vertical-align: bottom;
  height: 160px; /* регулируй по вкусу */
  padding: 0;
  position: relative;
}

th.rotate > div {
  transform: rotate(-90deg);
  transform-origin: bottom left;
  position: absolute;
  bottom: 5px;  /* подвинь чуть выше или ниже по вкусу */
  left: 20px;
  white-space: nowrap;
}


table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px 8px;
  text-align: left;
  line-height: 1.4;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #777;
  display: none; /* Скрыта по умолчанию */
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  text-decoration: none !important;
  z-index: 9999;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  gap: 8px;
}
.scroll-text {
  font-size: 13px;
  line-height: 1;
}
.arrow-up {
  transform: rotate(270deg);
  display: inline-block;
}


/* Эффект подсветки на всю высоту окна */
.scroll-to-top::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 120px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 0.3s;
  z-index: -1; 
}

.scroll-to-top:hover::before {
  background-color: rgba(200, 200, 200, 0.2); 
  text-decoration: none !important;
}

custom-table1 table {
  border-color: none;
}
